<div ="box">
	<div class="block" id="block-login">
        <h2>Cadastramento</h2>
		<div class="content login">
			
			<%= simple_form_for(resource, :as => resource_name, 
			    :url => registration_path(resource_name), :html => { :class => :form } ) do |f| %>
				<br />
				
				<div class="group">
				  <%= f.input :email, 
				              :label_html => { :class => :label }, 
				              :input_html => { :class => 'text_field' },
				              :hint => 'Informe seu email.',
				              :hint_html => { :class => :description }  %>
				</div>
				
				<div class="group">
				  <%= f.input :password, 
							  :label_html => { :class => :label }, 
							  :input_html => { :class => 'text_field' },
							  :hint => 'Informe a nova senha.',
							  :hint_html => { :class => :description }  %>
				
				</div>
				
				<div class="group">
				  <%= f.input :password_confirmation, 
							  :label_html => { :class => :label }, 
							  :input_html => { :class => 'text_field' },
							  :hint => 'Informe a nova senha novamente.',
							  :hint_html => { :class => :description }  %>
				
				</div>
				
			    <p><%= f.submit "Cadastre-me" %></p>
							
			<% end %>

			<%= render :partial => "devise/shared/links" %>
		</div>		
	</div>
</div>

