<script type="text/javascript">
    $(function(){
        $('.tag a')
            .click(function(){
               var field_value = $("input#datafile_tag_list").val();
               var concat_car = ", " ;
               if (field_value.length <= 50) {
	             if (field_value.length == 0 ) { concat_car = "" }
                 $("input#datafile_tag_list").val( field_value + concat_car + $(this).text()  );
               }
            });
    });
</script>

<% unless controller.action_name == 'show' %>
  <%= f.input :tag_list, 
    :label_html => { :class => :label, :style => 'display:none' }, 
    :input_html => { :class => 'text_field', :style => 'display:normal', :maxlength => 50, :size => 35 },
    :placeholder => "digite rótulos separados por vírgula. Ex.: office, home, friend" %>

    <div class="tag">
    <p>
	  <%= t("general.datafile_tag_list_field") %>: 
	  <strong>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, '#', :class => "link_button" %>
        <% end %>
      </strong>
    </p>
    </div>

<% else %>
  <%= f.label t("general.datafile_tag_list_field") %>:
  <%= @datafile.tag_list %>
<% end %>