<div class="inner">
	
  <%= simple_form_for @datafile, :html => { :class => :form } do |f| -%>
    
    <div class="group">
	  <%= f.error_notification %>
	
	  <%= f.input :name, 
                  :disabled => controller.action_name == 'show',
		          :label_html => { :class => :label }, 
		          :input_html => { :class => 'text_field' },
		          :hint => 'Informe um texto para este campo.',
		          :hint_html => { :class => :description }  %>

      <div class="inner">
        <div class="inner">
	      <table align=center>
		    <tbody>
	          <ol> 
                <%= f.simple_fields_for :locals do |builder| %> 
                  <%= render 'local_fields', :f => builder %>   
                <% end -%>
              </ol>
	        </tbody>
	      </table>
        </div>
      </div>
    </div>

    <div class="group navform wat-cf">
	  <% unless controller.action_name == 'show' %>
        <button class="button" type="submit">
          <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> 
          <%= t("web-app-theme.save", :default => "Save") %>
        </button>
        <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
      <% end %>
	  <%= link_to t("web-app-theme.cancel", :default => "Cancel"), datafiles_path, :class => "text_button_padding link_button" %>
    </div>

  <% end -%>

</div>
